<p>
	Sorry, we keep that part of the website to ourselves. But dog pictures are for the world to see! So instead, here's a picture of <span id="random-pic-message"></span>.
</p>

{{> widgets/random-dog-pic }}