---
pageTitle: Resource forbidden
category: courses
blurb: Sorry, we keep that part of the website to ourselves. But dog pictures are for the world to see! So instead, here's a picture of Karma being a lapdog.
author: none
eleventyExcludeFromCollections: true
---

<p>
	Sorry, we keep that part of the website to ourselves. But dog pictures are for the world to see! So instead, here's a picture of <span id="random-pic-message"></span>.
</p>

<%- include('_includes/widgets/random-dog-pic') %>