<p>We're sorry, but that resource is hibernating. Like Chubb.</p>

<figure class="post__figure">
	<img class="post__image" src="/images/chubb.jpg" alt="Sleeping bulldog"/>
	<figcaption class="post__figure-caption">Chubb hibernating</figcaption>
</figure>