<section class="journey-parent">
	<h2 class="site__block-heading journey-parent__heading">My journey, abridged</h2>

	<%
 	[
		{
			year: 2009,
			milestone: "First website written",
			message: "My first website was written in HTML4, so I got to use all sorts of fun code like <code>&lt;center&gt;</code>. Don't worry, I've kicked those bad habits since then!"
		},
		{
			year: 2013,
			milestone: "First line of JavaScript written",
			message: "After years of building static sites, I finally got around to adding some functionality. JavaScript was a big step up from HTML and CSS alone, and it took me awhile to get it."
		},
		{
			year: 2016,
			milestone: "First freelance project",
			message: "After almost 7 years of part-time, on-and-off practice in web development, I decided to put myself out there and look for paid work. I wanted a W2 position, but I was willing to freelance in the meantime while I looked for stable work. My first project was an HTML/CSS-only redesign of a real estate brokerage website."
		},
		{
			year: 2016,
			milestone: "C# Hello World written",
			message: "I didn't want to be a master of one trade (or language) - I wanted to know as much as possible. I had previously learned object-oriented PHP and taken a brief foray into Java, so I decided to learn a modern programming language with a lot of enterprise use."
		},
		{
			year: 2017,
			milestone: "First ASP.NET Core application written",
			message: "PHP was great, and it was powerful, but I wanted more. More power, more flexibility, more consistency. C# offered all of these, so I decided to move my backend ambitions to Microsoft's popular cross-platform offering."
		},
		{
			year: 2019,
			milestone: "First developer job",
			message: "Finally! After breaking down and working with a recruiter, I quickly landed a full-time position as a software engineer for a locum tenens agency. My years there have been spent writing ASP.NET Core websites with both VueJS and MVC/Razor frontends, writing desktop and cloud software to make recruiting more efficient, and managing other aspects of their IT needs as well, including deployment, server management, database management, and more."
		}
	].forEach(journey => {
	%>
		<%- include("_includes/widgets/journey", {journey}) %>
	<%
	})
 	%>
</section>