<section class="col-12 col-md-6 offset-md-3">
	<form name="phone-number-parser">
		<div class="mb-3">
			<label class="form-label">Enter a phone number</label>
			<input id="phone-number-input" type="text" class="form-control" placeholder="867-5309"/>
		</div>
		<button class="btn btn-block btn-outline-primary">Parse phone number</button>
		<div class="mt-3">
			Phone number: <span id="phone-number-parser-output" class="text-accent">(invalid)</span>
		</div>
	</form>
</section>