---
pageTitle: Backend Courses
tags:
- backend
category: courses
date: 2020-10-01
blurb: Backend is my specialty, so join me to learn some!
author: none
---

<p>
	I'm good with the frontend, but I specialize in backend technologies. I've used most of the big names at one point or another, including PHP, Node.js/Express, C#/ASP.NET Core, and Java/Spring. There's not much here yet, but I'll be adding courses in the coming year - starting with ASP.NET Core, followed by ExpressJS.
</p>

<%
const courseListData = {
	heading: "Courses",
	courses: collections["backend_courses"]
}
%>

<%- include('../../_includes/widgets/course-list', courseListData) %>