---
pageTitle: Backend Courses
tags:
- backend
category: courses
date: 2020-10-01
---

<p class="col-12 my-5">
	As you can tell by the drab design of my website, I specialize in backend technologies. I've used most of the big names at one point or another, including PHP, Node.js, C#/ASP.NET Core, and Java/Spring. Here, you can find some instructions on how to get started in various aspects of the backend.
</p>

<%
const courseListData = {
	courses: collections["backend_courses"]
}
%>

<%- include('../../_includes/widgets/course-list', courseListData) %>