---
pageTitle: Full Stack Courses
tags:
- fullstack
category: fullstack_courses
date: 2020-10-01
---

<p class="col-12 my-2">
	Web development is a fun and rewarding hobby - and if you're interested, it can be a lucrative career, too! But getting to that point isn't always easy. There are two main hard parts of learning web development.
</p>

<h2 class="col-12 mt-3">Difficulties in learning web development</h2>
<h3 class="col-12 mt-3">Information overload</h3>

<p class="col-12 my-2">
	It can be hard to know which way to turn when you're first starting out in web development. There's an enormous amount of information out there, and a lot of that information is conflicting. It can be hard to know what to do or think sometimes, simply because you don't know a lot about the field yet. I wish I could say that that feeling goes away, but it doesn't - I built my first website over a decade ago, and at times I feel almost as lost as when I first started.
</p>

<p class="col-12 my-2">
	This course series will help you deal with information overload because you can just work through the series in order, start to finish. You may not like everything you learn, and you may decide to go a different direction once you're coding on your own, but if you go through the entire series, you'll have a solid foundation to branch out from.
</p>

<h3 class="col-12 mt-3">Knowing what you don't know</h3>

<p class="col-12 my-2">
	Maybe even harder than the overload of information is knowing what you don't know. There are questions you don't know you have, simply because you don't know what you don't know - or worse, questions you don't know how to ask, even though you know you have them. Asking for help in online communities can be difficult in those situations because, unfortunately, there's a lot of toxicity in the tech community right now.
</p>

<p class="col-12 my-2">
	This course series can help you to learn what you don't know because it's designed to take you from complete beginner to published website. I assume you know absolutely nothing about building websites or writing code, so I teach you everything you need to know from the ground up. By the end of the course, you'll know enough to build and publish websites on your own, and even though you won't know everything there is to know about web development, you'll know enough to ask the right questions. You'll know enough to teach yourself what you don't know.
</p>

<h2 class="col-12 mt-3">What will I learn?</h2>

<p class="col-12 my-2">
	You'll learn about how to write the actual code that displays web pages. You'll also learn how to change the appearance of web pages and make them functional. At that point, you'll almost be ready to deploy a basic website to a web server, but before you can do that, you will need to learn about Linux (which runs on most web servers). Once you know some Linux, you also need to learn about Nginx, which is a popular web server technology for serving web pages. At that point, you'll be ready to deploy static websites to the worldwide web.
</p>

<p class="col-12 my-2">
	Once you know how to build and deploy static websites, you'll start learning PHP, which can add advanced functionality to your websites like login systems or online stores. PHP is super useful, but most of its usefulness comes from synergy with SQL, which is a language used to interact with databases, so you'll learn that too.
</p>

<p class="col-12 my-2">
	Finally, you'll complete a guided capstone project. This project will walk you through the entire process of building a website, from the initial design to deploying the final product. The website you build will be something you can actually use, too - a portfolio for your work! Your capstone will include a dynamic portfolio for showing off your other projects and a contact form that potential clients can use to contact you for work.
</p>

<h2 class="col-12 my-3">Courses</h2>

<% for (let course of collections["fullstack_courses"]) { %>
	<div class="col-12 col-lg-6 mt-3">
		<article class="card h-100">
			<a href="<%- course.url %>">
				<img src="<%- course.data.headerImage %>"
					 class="card-img-top"
					 alt="Post header image"/>
				<div class="card-body">
					<h2 class="card-title"><%- course.data.pageTitle %></h2>
					<p class="card-text"><%- course.data.blurb %></p>
				</div>
			</a>
		</article>
	</div>
<% } %>