<p>Everybody believes something. Even the most diehard atheist believes in <em>something</em>, even if that something is fact and science.</p>

{{> widgets/courseList heading="Courses" courses=collections.faith_courses }}