<article class="course-card">
	<img class="course-card__img" src="{{ this.data.headerImage }}" alt="Post header image">
	<section class="course-card__body">
		<div class="course-card__text-wrapper">
			<h3 class="course-card__title">{{ this.data.pageTitle }}</h3>
			<p class="course-card__description">{{ this.data.blurb }}</p>
		</div>
		<a href="{{ this.url }}" class="course-card__action">Read more</a>
	</section>
</article>