<article class="card flex-grow-1">
	<img class="card-img-top" src="<%- course.data.headerImage %>" alt="Post header image">
	<section class="card-body d-flex flex-column justify-content-between">
		<div>
			<h3 class="card-title"><%- course.data.pageTitle %></h3>
			<p><%- course.data.blurb %></p>
		</div>
		<a href="<%- course.url %>" class="stretched-link btn btn-outline-accent">Read more</a>
	</section>
</article>