<section class="course-list">
	{{> widgets/blockHeading heading=heading additionalClasses="course-list__title" }}

	<ul class="course-list__list">
		{{#each courses}}
			<li class="course-list__course">
				{{> widgets/courseCard this}}
			</li>
		{{/each}}
	</ul>
</section>