<section class="course-list">
	<%- include('block-heading', {heading}) %>

	<ul class="course-list__list">
		<% courses.forEach(course => { %>
			<li class="course-list__course">
				<%- include('course-card', {course} ) %>
			</li>
		<% }) %>
	</ul>
</section>