<section class="course-list">
	<% const additionalClasses = "course-list__title" %>
	<%- include('block-heading', {heading, additionalClasses}) %>

	<ul class="course-list__list">
		<% courses.forEach(course => { %>
			<li class="course-list__course">
				<%- include('course-card', {course} ) %>
			</li>
		<% }) %>
	</ul>
</section>