<section class="w-100">
	<%- include('block-heading', {heading}) %>

	<ul class="row row-cols-1 row-cols-md-2 row-cols-xl-3 list-unstyled">
		<% courses.forEach(course => { %>
			<li class="col mb-4 d-flex">
				<%- include('course-card', {course} ) %>
			</li>
		<% }) %>
	</ul>
</section>