<article class="course-card">
	<img class="course-card__img" src="<%- course.data.headerImage %>" alt="Post header image">
	<section class="course-card__body">
		<div class="course-card__text-wrapper">
			<h3 class="course-card__title"><%- course.data.pageTitle %></h3>
			<p class="course-card__description"><%- course.data.blurb %></p>
		</div>
		<a href="<%- course.url %>" class="course-card__action">Read more</a>
	</section>
</article>