<footer class="w-100 p-3 mt-5 text-center bg-primary text-white">
    <p>&copy;2020 Christian LeVesque. All rights reserved.</p>
    <p>This site was built using open source software. A list of top-level dependencies can be found on my
        <a class="text-white text-decoration-underline"
           href="/credits">credits page</a></p>
</footer>