<footer class="site__footer footer">
    <p>
        &copy;2020 Christian LeVesque. The site design and code are open source. All rights to the web copy are reserved.
    </p>
    <p>
        This site was built using open source software. A list of top-level dependencies can be found on my
        <a class="footer__link"
           href="/credits">
            credits page
        </a>
    </p>
</footer>