<article class="journey">
	<header class="journey__header">
		<h3 class="journey__heading"><%- journey.year %></h3>
		<h4 class="journey__heading journey__heading--sub"><%- journey.milestone %></h4>
	</header>

	<p class="journey__paragraph">
		<%- journey.message %>
	</p>
</article>