<article class="journey">
	<header class="journey__header">
		<h3 class="journey__heading">{{ year }}</h3>
		<h4 class="journey__heading journey__heading--sub">{{ milestone }}</h4>
	</header>

	<p class="journey__paragraph">
		{{ message }}
	</p>
</article>