<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
	<button id="toggler"
			class="navbar-toggler ml-auto"
	type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
		<i id="toggler-icon-hamburger"
		   class="fas fa-bars"></i>
		<i id="toggler-icon-close"
		   class="fas fa-times"></i>
	</button>
	<div id="main-menu"
		 class="collapse navbar-collapse">
		<ul class="navbar-nav ml-auto">
			<% for (let link of metadata.links) { %>
				<li class="nav-item px-1">
					<a class="nav-link text-right text-white"
					   href="<%= link.href %>"><%= link.name %></a>
				</li>
			<% } %>
		</ul>
	</div>
</nav>