<nav class="navbar">
	<button id="toggler"
			class="navbar__toggler">
		<i id="toggler-icon-hamburger"
		   class="fas fa-bars"></i>
	</button>

	<ul class="navbar__nav">
		<% for (let link of metadata.links) { %>
			<li class="navbar__item">
				<a class="navbar__link"
				   href="<%= link.href %>"><%= link.name %></a>
			</li>
		<% } %>
	</ul>
</nav>