<section>
	<p class="post__social-share-heading">Share this article</p>
	<ul class="about__social-media about__social-media--centered">
		<li class="about__social-media-link">
			<a href="https://www.twitter.com/intent/tweet?text=<%- encodeURIComponent(`Check out this article from @clevesque92 https://www.christianlevesque.io${url}`) %>" target="_blank">
				<i class="fab fa-twitter"></i>
			</a>
		</li>
		<li class="about__social-media-link">
			<a href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&u=<%- encodeURIComponent(`https://www.christianlevesque.io${url}`) %>&display=popup&ref=plugin&src=share_button" target="_blank">
				<i class="fab fa-facebook"></i>
			</a>
		</li>
		<li class="about__social-media-link">
			<a href="http://www.linkedin.com/sharing/share-offsite?url=<%- encodeURIComponent(`https://www.christianlevesque.io${url}`) %>" target="_blank">
				<i class="fab fa-linkedin"></i>
			</a>
		</li>
	</ul>
</section>