@import "bootstrap-overrides";

html, body {
	overflow-x: hidden;
	font-size: 20px;
}

a.ad {
	text-decoration: none;
}

.text-decoration-underline {
	text-decoration: underline;
}

.blockquote[class*="border"] {
	border-width: 4px !important;
}
pre[class*="language-"] {
	margin: ($spacer * 2.5) 15px;
	width: 100%;
}