@import "variables";

html, body {
	overflow-x: hidden;
}
pre[class*="language-"] {
	margin: ($spacer * 2.5) 15px;
	width: 100%;
}

a.ad {
	text-decoration: none;
}

.text-decoration-underline {
	text-decoration: underline;
}

.blockquote[class*="border"] {
	border-width: 4px !important;
}

.action-button {
	bottom: 40px;
	right: 40px;
	height: 75px;
	width: 75px;
	font-size: 75px;
}

.carousel-control-next-icon-wrapper, .carousel-control-prev-icon-wrapper {
	height: 40px;
	width: 40px;
	border-width: 10px;
}

.carousel-caption {
	&.bg-dark {
		opacity: 80%;
	}
}

.first-on-desktop {
	order: 2;
}

.first-on-mobile {
	order: 1;
}

@media (min-width: $breakpoint-md) {
	.first-on-desktop {
		order: 1;
	}

	.first-on-mobile {
		order: 2;
	}
}