@import "variables";
@import "mixins";

.navbar-toggler {
	border: none;
}

.navbar-brand img {
	width: 50px;
	height: 50px;
}

ol, ol.nav {
	list-style: decimal inside;
}

#main-menu .nav-link:hover {
	text-decoration: underline;
}