@import "variables";
@import "mixins";

.navbar {
	background-color: map-get($theme-colors, "primary");
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $nav-height;
}

.navbar__toggler {
	border: none;
	margin-left: auto;
}

.navbar__nav {
	margin-left: auto;
}

.navbar__item {
	padding-left: map-get($spacers, 1);
	padding-right: map-get($spacers, 1);
}

.navbar__link {
	text-align: right;
	color: $white;
}

// This doesn't belong here. This is part of the sidebar course list
ol, ol.nav {
	list-style: decimal inside;
}

#main-menu .nav-link:hover {
	text-decoration: underline;
}