@import "variables";
@import "mixins";

.navbar-toggler {
	border: none;
}

.navbar-brand img {
	width: 50px;
	height: 50px;
}

ol, ol.nav {
	list-style: decimal inside;
}

#main-menu .nav-link:hover {
	text-decoration: underline;
}

// Bootstrap doesn't expose the events for the navbar toggler
// so we need to have two icons in the button
// one when the menu is expanded and one when it isn't
// So here we hide one on [aria-expanded=true]
// and hide the other when [aria-expanded=false]
#toggler[aria-expanded=false] #toggler-icon-close {
	display: none;
}

#toggler[aria-expanded=true] #toggler-icon-hamburger {
	display: none;
}