// Colors
$background: white;
$font: #333;
$primary: blue;
$secondary: green;
$danger: red;

// Fonts
$font-family: "Roboto Mono", monospace;
$font-size-base: 20px;
$font-size: 1rem;

// Spacing
$spacer: 1rem;
$nav-height: 75px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;